.cartModal {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 30rem;
    padding: 1rem;
    list-style: none;
}

.cartModal p, .cartModal li  {
    color: black;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.80);
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
}

.totalAmount, .closeAndOrderContainer {
    display: flex;
}

.totalAmount {
    justify-content: space-between;
}

.closeAndOrderContainer {
    justify-content: flex-end;
    margin-top: 1rem;
}

.closeAndOrderContainer button:first-child {
    margin-right: 1rem;
}

.btnCloseCart {
    color: black;
}