.cart {
    background-color: rgba(0, 0, 0, 0.50);
    display: flex;
    width: 10rem;
    justify-content: space-around;
    padding: 0.5rem 1.5rem;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

.cart p {
    color: white;
}

.cart__pictogram {
    width: 16px;
    color: white;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(4deg) brightness(101%) contrast(102%);
    margin-right: 5px;
}

.cart__numberDishesInCart {
    background-color: brown;
    padding: 5px 10px;
    border-radius: 15px;
    margin-left: 5px;
}


