.cartModalItems {
    color: black;
    border-bottom: 1px solid brown;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.cartModalItems p, .cartModalItems h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: start;
} 

.cartModalItems__itemPrice {
    font-weight: bold;
    color: brown !important;
}

.cartModalItems__amount {
    border: 1px solid black;
    border-radius: 8px;
    padding: 3px;
    margin-left: 10px;
}

.cartModalItems, .cartModalItems div:first-child div, .cartModalItems__addRemove {
    display: flex;
}

.cartModalItems, .cartModalItems div:first-child div {
    align-items: center;
}

.cartModalItems__add, .cartModalItems__remove {
    height: fit-content;
}

.cartModalItems__remove {
    margin-right: 5px;
}

