.addDishForm label {
    font-weight: bold;
    margin-right: 1rem;
}

.addDishForm > div {
    margin-bottom: 0.5rem;
}

input {
    width: 2.5rem;
}

.addDishFormSubmit {
    background-color: brown;
    padding: 0.3rem 1.5rem;
}