.dishList__item {
    justify-content: space-between;
    border-bottom: 1px solid #dcd2d2;
    padding: 1rem 0;
}

.dishList__item input {
    width: 2.5rem;
}

.dishList__item label {
    font-weight: bold;
    margin-right: 5px;
}

.dishList__item > div {
    flex-direction: column;
    align-items: flex-start;
}

.dishList__itemPrice {
    font-weight: bold;
    color: brown;
}

.dishList__itemForm div:first-child, .dishList__item > div, .dishList__item {
    display: flex;
}

.dishList__itemForm button {
    background: brown;
    border: none;
    padding: 0.3rem 1.5rem;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-top: 0.5rem;
    cursor: pointer;
}