.dishList {
    max-width: 40rem;
    background-color: white;
    color: black;
    margin: 2rem auto;
    list-style: none;
}

.dishList__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #00000030;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

.dishList__item h2, .dishList__item p {
    margin: 0;
    text-align: start;
}

.dishList__itemPrice {
    color: brown;
    font-weight: bold;
}

ul {
    padding: 0;
}

