.navbar {
    display: flex;
    justify-content: space-around;
    background-color: brown;
    color: white;
    padding: 1rem 0;
}

.navbar__sitename {
    font-weight: bold;
    font-size: 1.5rem;
}

.banner {
    background-image: url(./../../assets/img-banner.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
    position: relative;
}

.banner div {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    height: 0;
    width: 0;
    border-bottom: 77px solid #252424;
    border-left: 1528px solid transparent;
}